amqp==2.2.2
beautifulsoup4==4.6.0
billiard==3.5.0.3
celery==4.1.0
certifi==2017.11.5
chardet==3.0.4
Django==1.11.7
django-bootstrap-form==3.2.1
django-extensions==1.7.9
django-geojson==2.10.0
django-leaflet==0.22.0
django-modelcluster==3.1
django-mptt==0.8.7
django-taggit==0.22.1
django-treebeard==4.1.2
django-webpack-loader==0.5.0
django-widget-tweaks==1.4.1
djangorestframework==3.6.4
geopy==1.11.0
h5py==2.7.0
html5lib==0.999999999
idna==2.6
jsonfield==2.0.1
kombu==4.1.0
numpy==1.13.0
olefile==0.44
Pillow==4.3.0
Pygments==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
requests==2.18.4
six==1.11.0
Unidecode==0.4.21
urllib3==1.22
vine==1.1.4
wagtail==1.13
webencodings==0.5.1
Willow==1.0
xlrd==1.0.0
yamjam==0.1.7
