<!DOCTYPE html>
{% load static %}

<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->


  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css"/>



    <title>IE Soft-Lab</title>
</head>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://cml.liacs.nl/softlab/exiovisuals">ExioVisuals</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">


          <li class="active" ><a href="../distribution" >
              {% block ActiveDistribution %}
  <span class="glyphicon glyphicon-scale" aria-hidden="true" > PieChart  </span></a>
</li>
          {% endblock %}
          <li class="active"><a href="../timeseries">
  <span class="glyphicon glyphicon-time" aria-hidden="true" > TimeSeries</span></a>
</li>
           <li class="active"><a href="../geo">
  <span class="glyphicon glyphicon-globe" aria-hidden="true" > GeoRegion</span></a>
</li>
<li class="active"><a href="supplychain">
  <span class="glyphicon glyphicon-link" aria-hidden="true" > SupplyChain</span></a>
</li>
            <li class="active"><a href="../treemap">
  <span class="glyphicon glyphicon-leaf" aria-hidden="true" > TreeMap</span></a>
</li>







<li class="active"><a href="http://cml.liacs.nl/softlab/about">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true" > About</span></a>
</li>





      </ul>

      </ul>
<ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="http://cml.liacs.nl/softlab">
  <span class="glyphicon glyphicon-home" aria-hidden="true" > Home</span></a>
</li>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->




               </ul>
               <ul class="nav">


               </ul>
           </div>
           <!--/.nav-collapse -->
       </div>

</nav>
<body>


   <!-- Some info on this app -->

<div class="container">
   <!-- Some info on this app -->
   <div class="jumbotron">
       <div align="left" class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  ExioVisuals: INPUT ERROR
</div>


       <br>
Output: <br>
    {{error}}<center>
<br>

<br>
       <button type="button" class="btn btn-primary" > <a style="color:white" href="javascript:history.back()">
                        <span style="color:white" class="glyphicon glyphicon-backward" aria-hidden="true" >
                  Return</span></a></button>



           </center>
</div>
</div>

<!--/.fluid-container-->

<hr>

<footer>

    <div class="container">
     <center>
            <div>
    <!--Add a picture -->
      <left><img src="{% static 'rsz_1firstsketch.png' %}" alt="" />
 </left>
</div>
        <!--Add a picture and center it-->
           <font color="black"> IE Soft-Lab 2016</font> </center>

    </div>
</footer>
    <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>


