<script type="text/javascript">
glyph_opts = {
    map: {
      doc: "glyphicon glyphicon-file",
      docOpen: "glyphicon glyphicon-file",
      checkbox: "glyphicon glyphicon-unchecked",
      checkboxSelected: "glyphicon glyphicon-check",
      checkboxUnknown: "glyphicon glyphicon-share",
      dragHelper: "glyphicon glyphicon-play",
      dropMarker: "glyphicon glyphicon-arrow-right",
      error: "glyphicon glyphicon-warning-sign",
      expanderClosed: "glyphicon glyphicon-menu-right",
      expanderLazy: "glyphicon glyphicon-menu-right",  // glyphicon-plus-sign
      expanderOpen: "glyphicon glyphicon-menu-down",  // glyphicon-collapse-down
      folder: "glyphicon glyphicon-folder-close",
      folderOpen: "glyphicon glyphicon-folder-open",
      loading: "glyphicon glyphicon-refresh glyphicon-spin"
    }
  };
  $(function(){
    // Initialize Fancytree
    $("#tree2").fancytree({
      extensions: ["dnd", "edit", "glyph", "wide", "childcounter", "filter", "persist"],
      checkbox: true,
      dnd: {
        focusOnClick: true,
        dragStart: function(node, data) { return true; },
        dragEnter: function(node, data) { return false; },
        dragDrop: function(node, data) { data.otherNode.copyTo(node, data.hitMode); }
      },
      glyph: glyph_opts,




      selectMode: {{mode_tree2}},
            //if selectmode == 1, then we dont want to have multiple selections ( cookies conflicts with this)
      click: function(e, data){
      var selectMode = {{mode_tree2}};
      if (selectMode == 1) {
          //selectmode is 1, so we want to check a: check which node was selected, and deselect that one
          
                $("#tree2").fancytree("getTree").visit(function(node){
                 tt = $.ui.fancytree.getEventTargetType(e.originalEvent);
                if( tt !== "expander" && tt !== "title") {
                node.setSelected(false);
    }
      });
      }


      },
      quicksearch: true,

      source: {{ regionConsumng|safe }},
      persist: {
				expandLazy: true,
				// fireActivate: false,    // false: suppress `activate` event after active node was restored
				{% if session %} overridesource: true, {% else %} overridesource: false, {% endif %}  // true: cookie takes precedence over `source` data attributes.
				store: "auto" // 'cookie', 'local': use localStore, 'session': sessionStore
			},
      filter: {
        autoApply: true,  // Re-apply last filter if lazy data is loaded
        counter: true,  // Show a badge with number of matching child nodes near parent icons
        fuzzy: false,  // Match single characters in order, e.g. 'fb' will match 'FooBar'
        hideExpandedCounter: true,  // Hide counter badge, when parent is expanded
        highlight: true,  // Highlight matches by wrapping inside <mark> tags
        mode: "dimm"  // Grayout unmatched nodes (pass "hide" to remove unmatched node instead)
      },

      toggleEffect: { effect: "drop", options: {direction: "left"}, duration: 400 },
      wide: {
        iconWidth: "1em",     // Adjust this if @fancy-icon-width != "16px"
        iconSpacing: "0.5em", // Adjust this if @fancy-icon-spacing != "3px"
        levelOfs: "1.5em"     // Adjust this if ul padding != "16px"
      },

      icon: function(event, data){
        // if( data.node.isFolder() ) {
        //   return "glyphicon glyphicon-book";
        // }
      },
      childcounter: {
        deep: true,
        hideZeros: true,
        hideExpanded: true
      },

       activate: function(event, data) {
      },


      lazyLoad: function(event, data) {
        data.result = {url: "ajax-sub2.json", debugDelay: 1000};
      },





    });
    $("#tree3").fancytree({
      extensions: ["dnd", "edit", "glyph", "wide", "childcounter", "filter", "persist"],
      checkbox: true,
      dnd: {
        focusOnClick: true,
        dragStart: function(node, data) { return true; },
        dragEnter: function(node, data) { return false; },
        dragDrop: function(node, data) { data.otherNode.copyTo(node, data.hitMode); }
      },
      glyph: glyph_opts,




      selectMode: {{mode_tree3}},
            //if selectmode == 1, then we dont want to have multiple selections ( cookies conflicts with this)
      click: function(e, data){
      var selectMode = {{mode_tree3}};
      if (selectMode == 1) {
          //selectmode is 1, so we want to check a: check which node was selected, and deselect that one
          
                $("#tree3").fancytree("getTree").visit(function(node){
                 tt = $.ui.fancytree.getEventTargetType(e.originalEvent);
                if( tt !== "expander" && tt !== "title") {
                node.setSelected(false);
    }
      });
      }


      },
      quicksearch: true,

      source: {{ regionProducing|safe }},
      persist: {
				expandLazy: true,
				// fireActivate: false,    // false: suppress `activate` event after active node was restored
				{% if session %} overridesource: true, {% else %} overridesource: false, {% endif %}  // true: cookie takes precedence over `source` data attributes.
				store: "auto" // 'cookie', 'local': use localStore, 'session': sessionStore
			},
      filter: {
        autoApply: true,  // Re-apply last filter if lazy data is loaded
        counter: true,  // Show a badge with number of matching child nodes near parent icons
        fuzzy: false,  // Match single characters in order, e.g. 'fb' will match 'FooBar'
        hideExpandedCounter: true,  // Hide counter badge, when parent is expanded
        highlight: true,  // Highlight matches by wrapping inside <mark> tags
        mode: "dimm"  // Grayout unmatched nodes (pass "hide" to remove unmatched node instead)
      },

      toggleEffect: { effect: "drop", options: {direction: "left"}, duration: 400 },
      wide: {
        iconWidth: "1em",     // Adjust this if @fancy-icon-width != "16px"
        iconSpacing: "0.5em", // Adjust this if @fancy-icon-spacing != "3px"
        levelOfs: "1.5em"     // Adjust this if ul padding != "16px"
      },

      icon: function(event, data){
        // if( data.node.isFolder() ) {
        //   return "glyphicon glyphicon-book";
        // }
      },
      childcounter: {
        deep: true,
        hideZeros: true,
        hideExpanded: true
      },

       activate: function(event, data) {
      },


      lazyLoad: function(event, data) {
        data.result = {url: "ajax-sub2.json", debugDelay: 1000};
      },





    });
    // Initialize Fancytree
    $("#tree").fancytree({
      extensions: ["dnd", "edit", "glyph", "wide", "childcounter", "filter", "persist" ],
      checkbox: true,
      dnd: {
        focusOnClick: true,
        dragStart: function(node, data) { return true; },
        dragEnter: function(node, data) { return false; },
        dragDrop: function(node, data) { data.otherNode.copyTo(node, data.hitMode); }
      },
      glyph: glyph_opts,




      selectMode: {{mode_tree}},
            //if selectmode == 1, then we dont want to have multiple selections ( cookies conflicts with this)
      click: function(e, data){
      var selectMode = {{mode_tree}};
      if (selectMode == 1) {
          //selectmode is 1, so we want to check a: check which node was selected, and deselect that one
          
                $("#tree").fancytree("getTree").visit(function(node){
                 tt = $.ui.fancytree.getEventTargetType(e.originalEvent);
                if( tt !== "expander" && tt !== "title") {
                node.setSelected(false);
    }
      });
      }


      },
      quicksearch: true,

      source: {{ productPurchased|safe }},
      persist: {
				expandLazy: true,
				// fireActivate: false,    // false: suppress `activate` event after active node was restored
				{% if session %} overridesource: true, {% else %} overridesource: false, {% endif %}  // true: cookie takes precedence over `source` data attributes.
				store: "auto" // 'cookie', 'local': use localStore, 'session': sessionStore
			},
      filter: {
        autoApply: true,  // Re-apply last filter if lazy data is loaded
        counter: true,  // Show a badge with number of matching child nodes near parent icons
        fuzzy: false,  // Match single characters in order, e.g. 'fb' will match 'FooBar'
        hideExpandedCounter: true,  // Hide counter badge, when parent is expanded
        highlight: true,  // Highlight matches by wrapping inside <mark> tags
        mode: "dimm"  // Grayout unmatched nodes (pass "hide" to remove unmatched node instead)
      },

      toggleEffect: { effect: "drop", options: {direction: "left"}, duration: 400 },
      wide: {
        iconWidth: "1em",     // Adjust this if @fancy-icon-width != "16px"
        iconSpacing: "0.5em", // Adjust this if @fancy-icon-spacing != "3px"
        levelOfs: "1.5em"     // Adjust this if ul padding != "16px"
      },

      icon: function(event, data){
        // if( data.node.isFolder() ) {
        //   return "glyphicon glyphicon-book";
        // }
      },
      childcounter: {
        deep: true,
        hideZeros: true,
        hideExpanded: true
      },

       activate: function(event, data) {
      },


      lazyLoad: function(event, data) {
        data.result = {url: "ajax-sub2.json", debugDelay: 1000};
      },





    });

    // Initialize Fancytree
    $("#tree5").fancytree({
      extensions: ["dnd", "edit", "glyph", "wide", "childcounter", "filter", "persist"],
      checkbox: true,
      dnd: {
        focusOnClick: true,
        dragStart: function(node, data) { return true; },
        dragEnter: function(node, data) { return false; },
        dragDrop: function(node, data) { data.otherNode.copyTo(node, data.hitMode); }
      },
      glyph: glyph_opts,




      selectMode: 1,
      quicksearch: true,

      source: {{ substanceDataReady|safe }},
      persist: {
				expandLazy: true,
				// fireActivate: false,    // false: suppress `activate` event after active node was restored
				{% if session %} overridesource: true, {% else %} overridesource: false, {% endif %}  // true: cookie takes precedence over `source` data attributes.
				store: "auto" // 'cookie', 'local': use localStore, 'session': sessionStore
			},
      filter: {
        autoApply: true,  // Re-apply last filter if lazy data is loaded
        counter: true,  // Show a badge with number of matching child nodes near parent icons
        fuzzy: false,  // Match single characters in order, e.g. 'fb' will match 'FooBar'
        hideExpandedCounter: true,  // Hide counter badge, when parent is expanded
        highlight: true,  // Highlight matches by wrapping inside <mark> tags
        mode: "dimm"  // Grayout unmatched nodes (pass "hide" to remove unmatched node instead)
      },

      toggleEffect: { effect: "drop", options: {direction: "left"}, duration: 400 },
      wide: {
        iconWidth: "1em",     // Adjust this if @fancy-icon-width != "16px"
        iconSpacing: "0.5em", // Adjust this if @fancy-icon-spacing != "3px"
        levelOfs: "1.5em"     // Adjust this if ul padding != "16px"
      },

      icon: function(event, data){
        // if( data.node.isFolder() ) {
        //   return "glyphicon glyphicon-book";
        // }
      },
      childcounter: {
        deep: true,
        hideZeros: true,
        hideExpanded: true
      },

       activate: function(event, data) {
      },


      lazyLoad: function(event, data) {
        data.result = {url: "ajax-sub2.json", debugDelay: 1000};
      },





    });
    // Initialize Fancytree
    $("#tree4").fancytree({
      extensions: ["dnd", "edit", "glyph", "wide", "childcounter", "filter", "persist"],
      checkbox: true,
      dnd: {
        focusOnClick: true,
        dragStart: function(node, data) { return true; },
        dragEnter: function(node, data) { return false; },
        dragDrop: function(node, data) { data.otherNode.copyTo(node, data.hitMode); }
      },
      glyph: glyph_opts,




      selectMode: {{mode_tree4}},
            //if selectmode == 1, then we dont want to have multiple selections ( cookies conflicts with this)
      click: function(e, data){
      var selectMode = {{mode_tree4}};
      if (selectMode == 1) {
          //selectmode is 1, so we want to check a: check which node was selected, and deselect that one
          
                $("#tree4").fancytree("getTree").visit(function(node){
                 tt = $.ui.fancytree.getEventTargetType(e.originalEvent);
                if( tt !== "expander" && tt !== "title") {
                node.setSelected(false);
    }
      });
      }


      },
      quicksearch: true,

      source: {{ sectorOfProduction|safe }},
      persist: {
				expandLazy: true,
				// fireActivate: false,    // false: suppress `activate` event after active node was restored
				{% if session %} overridesource: true, {% else %} overridesource: false, {% endif %}  // true: cookie takes precedence over `source` data attributes.
				store: "auto" // 'cookie', 'local': use localStore, 'session': sessionStore
			},
      filter: {
        autoApply: true,  // Re-apply last filter if lazy data is loaded
        counter: true,  // Show a badge with number of matching child nodes near parent icons
        fuzzy: false,  // Match single characters in order, e.g. 'fb' will match 'FooBar'
        hideExpandedCounter: true,  // Hide counter badge, when parent is expanded
        highlight: true,  // Highlight matches by wrapping inside <mark> tags
        mode: "dimm"  // Grayout unmatched nodes (pass "hide" to remove unmatched node instead)
      },

      toggleEffect: { effect: "drop", options: {direction: "left"}, duration: 400 },
      wide: {
        iconWidth: "1em",     // Adjust this if @fancy-icon-width != "16px"
        iconSpacing: "0.5em", // Adjust this if @fancy-icon-spacing != "3px"
        levelOfs: "1.5em"     // Adjust this if ul padding != "16px"
      },

      icon: function(event, data){
        // if( data.node.isFolder() ) {
        //   return "glyphicon glyphicon-book";
        // }
      },
      childcounter: {
        deep: true,
        hideZeros: true,
        hideExpanded: true
      },

       activate: function(event, data) {
      },









    });
    $("#tree7").fancytree({
      extensions: ["dnd", "edit", "glyph", "wide", "childcounter", "filter", "persist"],
      checkbox: true,
      dnd: {
        focusOnClick: true,
        dragStart: function(node, data) { return true; },
        dragEnter: function(node, data) { return false; },
        dragDrop: function(node, data) { data.otherNode.copyTo(node, data.hitMode); }
      },
      glyph: glyph_opts,




      selectMode: {{mode_tree7}},
            //if selectmode == 1, then we dont want to have multiple selections ( cookies conflicts with this)
      click: function(e, data){
      var selectMode = {{mode_tree7}};
      if (selectMode == 1) {
          //selectmode is 1, so we want to check a: check which node was selected, and deselect that one
          
                $("#tree7").fancytree("getTree").visit(function(node){
               tt = $.ui.fancytree.getEventTargetType(e.originalEvent);
                if( tt !== "expander" && tt !== "title") {
                node.setSelected(false);
    }
      });
      }


      },
      quicksearch: true,

      source: {{ yearDataReady|safe }},
      persist: {
				expandLazy: true,
				// fireActivate: false,    // false: suppress `activate` event after active node was restored
				{% if session %} overridesource: true, {% else %} overridesource: false, {% endif %}  // true: cookie takes precedence over `source` data attributes.
				store: "auto" // 'cookie', 'local': use localStore, 'session': sessionStore
			},
      filter: {
        autoApply: true,  // Re-apply last filter if lazy data is loaded
        counter: true,  // Show a badge with number of matching child nodes near parent icons
        fuzzy: false,  // Match single characters in order, e.g. 'fb' will match 'FooBar'
        hideExpandedCounter: true,  // Hide counter badge, when parent is expanded
        highlight: true,  // Highlight matches by wrapping inside <mark> tags
        mode: "dimm"  // Grayout unmatched nodes (pass "hide" to remove unmatched node instead)
      },

      toggleEffect: { effect: "drop", options: {direction: "left"}, duration: 400 },
      wide: {
        iconWidth: "1em",     // Adjust this if @fancy-icon-width != "16px"
        iconSpacing: "0.5em", // Adjust this if @fancy-icon-spacing != "3px"
        levelOfs: "1.5em"     // Adjust this if ul padding != "16px"
      },

      icon: function(event, data){
        // if( data.node.isFolder() ) {
        //   return "glyphicon glyphicon-book";
        // }
      },
      childcounter: {
        deep: true,
        hideZeros: true,
        hideExpanded: true
      },

       activate: function(event, data) {
      },


      lazyLoad: function(event, data) {
        data.result = {url: "ajax-sub2.json", debugDelay: 1000};
      },





    });

    $("#tree6").fancytree({
      extensions: ["dnd", "edit", "glyph", "wide", "childcounter", "filter", "persist"],
      checkbox: true,
      dnd: {
        focusOnClick: true,
        dragStart: function(node, data) { return true; },
        dragEnter: function(node, data) { return false; },
        dragDrop: function(node, data) { data.otherNode.copyTo(node, data.hitMode); }
      },
      glyph: glyph_opts,




      selectMode: {{mode_tree6}},
      //if selectmode == 1, then we dont want to have multiple selections ( cookies conflicts with this)
      click: function(e, data){

      var selectMode = {{mode_tree6}};
      if (selectMode == 1) {
          //selectmode is 1, so we want to check a: check which node was selected, and deselect that one
          
                $("#tree6").fancytree("getTree").visit(function(node){

                tt = $.ui.fancytree.getEventTargetType(e.originalEvent);
                if( tt !== "expander" && tt !== "title") {
                node.setSelected(false);
    }




      });
      }


      },

      quicksearch: true,

      source: {{ regionSelling|safe }},
      persist: {
				expandLazy: true,
				// fireActivate: false,    // false: suppress `activate` event after active node was restored
				{% if session %} overridesource: true, {% else %} overridesource: false, {% endif %}  // true: cookie takes precedence over `source` data attributes.
				store: "auto" // 'cookie', 'local': use localStore, 'session': sessionStore
			},
      filter: {
        autoApply: true,  // Re-apply last filter if lazy data is loaded
        counter: true,  // Show a badge with number of matching child nodes near parent icons
        fuzzy: false,  // Match single characters in order, e.g. 'fb' will match 'FooBar'
        hideExpandedCounter: true,  // Hide counter badge, when parent is expanded
        highlight: true,  // Highlight matches by wrapping inside <mark> tags
        mode: "dimm"  // Grayout unmatched nodes (pass "hide" to remove unmatched node instead)
      },

      toggleEffect: { effect: "drop", options: {direction: "left"}, duration: 400 },
      wide: {
        iconWidth: "1em",     // Adjust this if @fancy-icon-width != "16px"
        iconSpacing: "0.5em", // Adjust this if @fancy-icon-spacing != "3px"
        levelOfs: "1.5em"     // Adjust this if ul padding != "16px"
      },

      icon: function(event, data){
        // if( data.node.isFolder() ) {
        //   return "glyphicon glyphicon-book";
        // }
      },
      childcounter: {
        deep: true,
        hideZeros: true,
        hideExpanded: true
      },

       activate: function(event, data) {
      },


      lazyLoad: function(event, data) {
        data.result = {url: "ajax-sub2.json", debugDelay: 1000};
      },






    });
     
//add Post function
		$("form").submit(function() {
			// Render hidden <input> elements for active and selected nodes
			$("#tree2").fancytree("getTree").generateFormElements();
			$("#tree").fancytree("getTree").generateFormElements();
			$("#tree3").fancytree("getTree").generateFormElements();
			$("#tree4").fancytree("getTree").generateFormElements();
			$("#tree5").fancytree("getTree").generateFormElements();
			$("#tree6").fancytree("getTree").generateFormElements();
			$("#tree7").fancytree("getTree").generateFormElements();




		});
$("#btnsSelectAll7").click(function(){
      $("#tree7").fancytree("getTree").visit(function(node){

          if (node.getLevel() == 2){
          node.setSelected(true);
}

      });

    });
    $("#btnsDeselectAll7").click(function(){
      $("#tree7").fancytree("getTree").visit(function(node){
          node.setSelected(false);
      });
      return false;
    });
	$("#btnsCollapseAll7").click(function(){

		$("#tree7").fancytree("getTree").visit(function(node){
			node.setExpanded(false);
		});
	});
$("#reload").click(function(){

       var tree = $("#tree").fancytree("getTree");
       var tree6 = $("#tree6").fancytree("getTree");
       var tree7 = $("#tree7").fancytree("getTree");
       var tree3 = $("#tree3").fancytree("getTree");
       var tree2 = $("#tree2").fancytree("getTree");
       var tree4 = $("#tree4").fancytree("getTree");

         tree.clearCookies();
         tree6.clearCookies();
         tree7.clearCookies();
         tree3.clearCookies();
         tree2.clearCookies();tree4.clearCookies();


      });
      $("#noSession").click(function(){

       var tree = $("#tree").fancytree("getTree");
       var tree6 = $("#tree6").fancytree("getTree");
       var tree7 = $("#tree7").fancytree("getTree");
       var tree3 = $("#tree3").fancytree("getTree");
       var tree2 = $("#tree2").fancytree("getTree");
       var tree4 = $("#tree4").fancytree("getTree");

         tree.clearCookies();
         tree6.clearCookies();
         tree7.clearCookies();
         tree3.clearCookies();
         tree2.clearCookies();tree4.clearCookies();


      });
            $("#noSession2").click(function(){

       var tree = $("#tree").fancytree("getTree");
       var tree6 = $("#tree6").fancytree("getTree");
       var tree7 = $("#tree7").fancytree("getTree");
       var tree3 = $("#tree3").fancytree("getTree");
       var tree2 = $("#tree2").fancytree("getTree");
       var tree4 = $("#tree4").fancytree("getTree");

         tree.clearCookies();
         tree6.clearCookies();
         tree7.clearCookies();
         tree3.clearCookies();
         tree2.clearCookies();tree4.clearCookies();


      });
{% if  killProductPurchased %}
 var tree = $("#tree").fancytree("getTree");

         tree.clearCookies();
         window.onload = function() {
    if(!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload();
    }
}
 {% endif %}
 {% if  killregionSelling %}
 var tree = $("#tree6").fancytree("getTree");

         tree.clearCookies();
         window.onload = function() {
    if(!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload();
    }
}
 {% endif %}
  {% if  killyearDataReady%}
 var tree = $("#tree7").fancytree("getTree");

         tree.clearCookies();
         window.onload = function() {
    if(!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload();
    }
}
 {% endif %}
 {% if  killregionProducing %}
 var tree = $("#tree3").fancytree("getTree");

         tree.clearCookies();
         window.onload = function() {
    if(!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload();
    }
}
 {% endif %}
 {% if  killregionConsumng %}
 var tree = $("#tree2").fancytree("getTree");

         tree.clearCookies();
         window.onload = function() {
    if(!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload();
    }
}
 {% endif %}
 {% if  killsectorOfProduction %}
 var tree = $("#tree4").fancytree("getTree");

         tree.clearCookies();
         window.onload = function() {
    if(!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload();
    }
}
 {% endif %}
$("#btnsToggleSelect").click(function(){
      $("#tree").fancytree("getRootNode").visit(function(node){
        node.toggleSelected();
      });
      return false;
    });
    $("#btnsDeselectAll").click(function(){
      $("#tree").fancytree("getTree").visit(function(node){

          node.setSelected(false);
      });
      return false;
    });
    $("#btnsSelectAll").click(function(){
      $("#tree").fancytree("getTree").visit(function(node){
        if( node.isVisible() ) {
          node.setSelected(true);
          node.getParent().setSelected(false);
      }

      });
      return false;
    });
    $("#btnsFocus").click(function(){
      $("#tree").fancytree("getTree").visit(function(node){
        if( node.isActive() ) {
        node.setSelected(false);
         selNodes = node.getChildren();
         selNodes.forEach(function(nodes) {
          nodes.setSelected(true);

         });
      }

      });
      return false;
    });
    $("#btnsNorm").click(function(){
      $("#tree").fancytree("getTree").visit(function(node){
        if( node.isSelected()   ){
            if (node.isTopLevel() ){
              node.setSelected(false);
            }
            else {
            node.getParent().setSelected(false);
            node.getParent().getParent().setSelected(false);
            }
            }
      });

      return false;
    });
    var countClicks = 1;
    var maxLevel = [];
    $("#btnsExpandAll").click(function(){


        highestLevel = Math.max.apply(null, maxLevel);

        countClicks++;
		$("#tree").fancytree("getTree").visit(function(node){
            currentLevel = node.getLevel();
            maxLevel.push(currentLevel)
            if ( currentLevel < countClicks){
              node.setExpanded(true);
            }



		});
		if (countClicks != 2 && countClicks > highestLevel  ){
		countClicks = countClicks-1;
		}
	});
	$("#btnsCollapseAll").click(function(){
	    countClicks = 1;


		$("#tree").fancytree("getTree").visit(function(node){
			node.setExpanded(false);
		});
	});
	$("#btnsCollapseLevel").click(function(){

	    var currentLevelCount = countClicks - 1;

		$("#tree").fancytree("getTree").visit(function(node){
		    currentLevel = node.getLevel();

			if (currentLevelCount <= currentLevel){
			node.setExpanded(false);
			countClicks = currentLevelCount;
			 if (currentLevelCount < 1){
              countClicks = 1;
			}
			}
			//
		});
	});
$("#btnsToggleSelect2").click(function(){
      $("#tree2").fancytree("getRootNode").visit(function(node){
        node.toggleSelected();
      });
      return false;
    });
    $("#btnsDeselectAll2").click(function(){
      $("#tree2").fancytree("getTree").visit(function(node){

          node.setSelected(false);
      });
      return false;
    });
    $("#btnsSelectAll2").click(function(){
      $("#tree2").fancytree("getTree").visit(function(node){
        if( node.isVisible() ) {
          node.setSelected(true);
          node.getParent().setSelected(false);
      }

      });
      return false;
    });
    $("#btnsFocus2").click(function(){
      $("#tree2").fancytree("getTree").visit(function(node){
        if( node.isActive() ) {
        node.setSelected(false);
         selNodes = node.getChildren();
         selNodes.forEach(function(nodes) {
          nodes.setSelected(true);

         });
      }

      });
      return false;
    });
    $("#btnsNorm2").click(function(){
      $("#tree2").fancytree("getTree").visit(function(node){
        if( node.isSelected()   ){
            if (node.isTopLevel() ){
              node.setSelected(false);
            }
            else {
            node.getParent().setSelected(false);
            node.getParent().getParent().setSelected(false);
            }
            }
      });

      return false;
    });
var countClicks2 = 1;
    var maxLevel2 = [];
    $("#btnsExpandAll2").click(function(){


        highestLevel2 = Math.max.apply(null, maxLevel2);

        countClicks2++;
		$("#tree2").fancytree("getTree").visit(function(node){
            currentLevel2 = node.getLevel();
            maxLevel2.push(currentLevel2)
            if ( currentLevel2 < countClicks2){
              node.setExpanded(true);
            }



		});
		if (countClicks2 != 2 && countClicks2 > highestLevel2  ){
		countClicks2 = countClicks2-1;
		}
	});
	$("#btnsCollapseAll2").click(function(){
	    countClicks2 = 1;
		$("#tree2").fancytree("getTree").visit(function(node){
			node.setExpanded(false);
		});
	});
	$("#btnsCollapseLevel2").click(function(){

	    var currentLevelCount2 = countClicks2 - 1;

		$("#tree2").fancytree("getTree").visit(function(node){
		    currentLevel2 = node.getLevel();

			if (currentLevelCount2 <= currentLevel2){
			node.setExpanded(false);
			countClicks2 = currentLevelCount2;
			 if (currentLevelCount2 < 1){
              countClicks2 = 1;
			}
			}
			//
		});
	});
    $("#btnsFocus3").click(function(){
      $("#tree3").fancytree("getTree").visit(function(node){
        if( node.isActive() ) {
        node.setSelected(false);
         selNodes = node.getChildren();
         selNodes.forEach(function(nodes) {
          nodes.setSelected(true);

         });
      }

      });
      return false;
    });
    $("#btnsSelectAll3").click(function(){
      $("#tree3").fancytree("getTree").visit(function(node){
        if( node.isVisible() ) {
          node.setSelected(true);
          node.getParent().setSelected(false);
      }

      });
      return false;
    });
     $("#btnsDeselectAll3").click(function(){
      $("#tree3").fancytree("getTree").visit(function(node){

          node.setSelected(false);
      });
      return false;
    });
   $("#btnsNorm3").click(function(){
      $("#tree3").fancytree("getTree").visit(function(node){
        if( node.isSelected()   ){
            if (node.isTopLevel() ){
              node.setSelected(false);
            }
            else {
            node.getParent().setSelected(false);
            node.getParent().getParent().setSelected(false);
            }
            }
      });

      return false;
    });
    var countClicks3 = 1;
    var maxLevel3 = [];
    $("#btnsExpandAll3").click(function(){


        highestLevel3 = Math.max.apply(null, maxLevel3);

        countClicks3++;
		$("#tree3").fancytree("getTree").visit(function(node){
            currentLevel3 = node.getLevel();
            maxLevel3.push(currentLevel3)
            if ( currentLevel3 < countClicks3){
              node.setExpanded(true);
            }



		});
		if (countClicks3 != 2 && countClicks3 > highestLevel3  ){
		countClicks3 = countClicks3-1;
		}
	});
	$("#btnsCollapseAll3").click(function(){
	    countClicks3 = 1;
		$("#tree3").fancytree("getTree").visit(function(node){
			node.setExpanded(false);
		});
	});
	$("#btnsCollapseLevel3").click(function(){

	    var currentLevelCount3 = countClicks3 - 1;

		$("#tree3").fancytree("getTree").visit(function(node){
		    currentLevel3 = node.getLevel();

			if (currentLevelCount3 <= currentLevel3){
			node.setExpanded(false);
			countClicks3 = currentLevelCount3;
			 if (currentLevelCount3 < 1){
              countClicks3 = 1;
			}
			}
			//
		});
	});
	//
	$("#btnsToggleSelect4").click(function(){
      $("#tree4").fancytree("getRootNode").visit(function(node){
        node.toggleSelected();
      });
      return false;
    });
    $("#btnsDeselectAll4").click(function(){
      $("#tree4").fancytree("getTree").visit(function(node){

          node.setSelected(false);
      });
      return false;
    });
    $("#btnsSelectAll4").click(function(){
      $("#tree4").fancytree("getTree").visit(function(node){
        if( node.isVisible() ) {
          node.setSelected(true);
          node.getParent().setSelected(false);
      }

      });
      return false;
    });
    $("#btnsFocus4").click(function(){
      $("#tree4").fancytree("getTree").visit(function(node){
        if( node.isActive() ) {
        node.setSelected(false);
         selNodes = node.getChildren();
         selNodes.forEach(function(nodes) {
          nodes.setSelected(true);

         });
      }

      });
      return false;
    });
    $("#btnsNorm4").click(function(){
      $("#tree4").fancytree("getTree").visit(function(node){
        if( node.isSelected()   ){
            if (node.isTopLevel() ){
              node.setSelected(false);
            }
            else {
            node.getParent().setSelected(false);
            node.getParent().getParent().setSelected(false);
            }
            }
      });

      return false;
    });
var countClicks4 = 1;
    var maxLevel4 = [];
    $("#btnsExpandAll4").click(function(){


        highestLevel4 = Math.max.apply(null, maxLevel4);

        countClicks4++;
		$("#tree4").fancytree("getTree").visit(function(node){
            currentLevel4 = node.getLevel();
            maxLevel4.push(currentLevel4)
            if ( currentLevel4 < countClicks4){
              node.setExpanded(true);
            }



		});
		if (countClicks4 != 2 && countClicks4 > highestLevel4  ){
		countClicks4 = countClicks4-1;
		}
	});
	$("#btnsCollapseAll4").click(function(){
	    countClicks4 = 1;
		$("#tree4").fancytree("getTree").visit(function(node){
			node.setExpanded(false);
		});
	});
	$("#btnsCollapseLevel4").click(function(){

	    var currentLevelCount4 = countClicks4 - 1;

		$("#tree4").fancytree("getTree").visit(function(node){
		    currentLevel4 = node.getLevel();

			if (currentLevelCount4 <= currentLevel4){
			node.setExpanded(false);
			countClicks4 = currentLevelCount4;
			 if (currentLevelCount4 < 1){
              countClicks4 = 1;
			}
			}
			//
		});
	});
	//
	$("#btnsToggleSelect5").click(function(){
      $("#tree5").fancytree("getRootNode").visit(function(node){
        node.toggleSelected();
      });
      return false;
    });
    $("#btnsDeselectAll5").click(function(){
      $("#tree5").fancytree("getTree").visit(function(node){

          node.setSelected(false);
      });
      return false;
    });
    $("#btnsSelectAll5").click(function(){
      $("#tree5").fancytree("getTree").visit(function(node){
        if( node.isVisible() ) {
          node.setSelected(true);
          node.getParent().setSelected(false);
      }

      });
      return false;
    });
    $("#btnsFocus5").click(function(){
      $("#tree5").fancytree("getTree").visit(function(node){
        if( node.isActive() ) {
        node.setSelected(false);
         selNodes = node.getChildren();
         selNodes.forEach(function(nodes) {
          nodes.setSelected(true);

         });
      }

      });
      return false;
    });
    $("#btnsNorm5").click(function(){
      $("#tree5").fancytree("getTree").visit(function(node){
        if( node.isSelected()   ){
            if (node.isTopLevel() ){
              node.setSelected(false);
            }
            else {
            node.getParent().setSelected(false);
            node.getParent().getParent().setSelected(false);
            }
            }
      });

      return false;
    });
  var countClicks5 = 1;
    var maxLevel5 = [];
    $("#btnsExpandAll5").click(function(){


        highestLevel5 = Math.max.apply(null, maxLevel5);

        countClicks5++;
		$("#tree5").fancytree("getTree").visit(function(node){
            currentLevel5 = node.getLevel();
            maxLevel5.push(currentLevel5)
            if ( currentLevel5 < countClicks5){
              node.setExpanded(true);
            }



		});
		if (countClicks5 != 2 && countClicks5 > highestLevel5  ){
		countClicks5 = countClicks5-1;
		}
	});
	$("#btnsCollapseAll5").click(function(){
	    countClicks5 = 1;
		$("#tree5").fancytree("getTree").visit(function(node){
			node.setExpanded(false);
		});
	});
	$("#btnsCollapseLevel5").click(function(){

	    var currentLevelCount5 = countClicks5 - 1;

		$("#tree5").fancytree("getTree").visit(function(node){
		    currentLevel5 = node.getLevel();

			if (currentLevelCount5 <= currentLevel5){
			node.setExpanded(false);
			countClicks5 = currentLevelCount5;
			 if (currentLevelCount5 < 1){
              countClicks5 = 1;
			}
			}
			//
		});
	});

	$("#btnsToggleSelect6").click(function(){
      $("#tree6").fancytree("getRootNode").visit(function(node){
        node.toggleSelected();
      });
      return false;
    });
    $("#btnsDeselectAll6").click(function(){

      $("#tree6").fancytree("getTree").visit(function(node){

          node.setSelected(false);
      });
      return false;
    });
    $("#btnsSelectAll6").click(function(){
      $("#tree6").fancytree("getTree").visit(function(node){
        if( node.isVisible() ) {
          node.setSelected(true);
          node.getParent().setSelected(false);
      }

      });
      return false;
    });
    $("#btnsFocus6").click(function(){
      $("#tree6").fancytree("getTree").visit(function(node){
        if( node.isActive() ) {
        node.setSelected(false);
         selNodes = node.getChildren();
         selNodes.forEach(function(nodes) {
          nodes.setSelected(true);

         });
      }

      });
      return false;
    });
    $("#btnsNorm6").click(function(){
      $("#tree6").fancytree("getTree").visit(function(node){
        if( node.isSelected()   ){
            if (node.isTopLevel() ){
              node.setSelected(false);
            }
            else {
            node.getParent().setSelected(false);
            node.getParent().getParent().setSelected(false);
            }
            }
      });

      return false;
    });
    var countClicks6 = 1;
    var maxLevel6 = [];
    $("#btnsExpandAll6").click(function(){


        highestLevel6 = Math.max.apply(null, maxLevel6);

        countClicks6++;
		$("#tree6").fancytree("getTree").visit(function(node){
            currentLevel6 = node.getLevel();
            maxLevel.push(currentLevel6)
            if ( currentLevel6 < countClicks6){
              node.setExpanded(true);
            }



		});
		if (countClicks6 != 2 && countClicks6 > highestLevel6  ){
		countClicks6 = countClicks6-1;
		}
	});
	$("#btnsCollapseAll6").click(function(){

	    countClicks6 = 1;
		$("#tree6").fancytree("getTree").visit(function(node){
			node.setExpanded(false);
		});
	});
	$("#btnsCollapseLevel6").click(function(){

	    var currentLevelCount6 = countClicks6 - 1;

		$("#tree6").fancytree("getTree").visit(function(node){
		    currentLevel6 = node.getLevel();

			if (currentLevelCount6 <= currentLevel6){
			node.setExpanded(false);
			countClicks6 = currentLevelCount6;
			 if (currentLevelCount6 < 1){
              countClicks6 = 1;
			}
			}
			//
		});
	});


var tree = $("#tree").fancytree("getTree");

$("input[name=search]").keyup(function(e){
      var n,
        opts = {
          autoExpand: $("#autoExpand").is(":checked"),
          leavesOnly: $("#leavesOnly").is(":checked")
        },
        match = $(this).val();





      if($("#regex").is(":checked")) {
        // Pass function to perform match
        n = tree.filterNodes(function(node) {
          return new RegExp(match, "i").test(node.title);
        }, opts);
      } else {
        // Pass a string to perform case insensitive matching
        n = tree.filterNodes(match, opts);
      }
      $("button#btnResetSearch").attr("disabled", true);
      $("span#matches").text("(" + n + " matches)");
    }).focus();

    $("button#btnResetSearch").click(function(e){
      $("input[name=search]").val("");
      $("span#matches").text("");
      tree.clearFilter();
    }).attr("disabled", true);

    $("fieldset input:checkbox").change(function(e){
      var id = $(this).attr("id"),
        flag = $(this).is(":checked");

      switch( id ) {
      case "autoExpand":
      case "regex":
      case "leavesOnly":
        // Re-apply filter only
        break;
      case "hideMode":
        tree.options.filter.mode = flag ? "hide" : "dimm";
        break;
      case "counter":
      case "fuzzy":
      case "hideExpandedCounter":
      case "highlight":
        tree.options.filter[id] = flag;
        break;
      }
      tree.clearFilter();
      $("input[name=search]").keyup();
    });

    $("#counter,#hideExpandedCounter,#highlight").prop("checked", true);

    addSampleButton({
      label: "Filter active branch",
      newline: false,
      code: function(){
        if( !tree.getRootNode() ) {
          alert("Please activate a folder.");
          return;
        }
        tree.filterBranches(function(node){
          return node.isActive();
        });
      }
    });
    addSampleButton({
      label: "Reset filter",
      newline: false,
      code: function(){
        tree.clearFilter();
      }
    });
var tree4 = $("#tree4").fancytree("getTree");
$("input#search4[name=searchs]").keyup(function(e){
      var n,
        opts = {
          autoExpand: $("#autoExpand").is(":checked"),
          leavesOnly: $("#leavesOnly").is(":checked")
        },
        match = $(this).val();





      if($("#regex").is(":checked")) {
        // Pass function to perform match
        n = tree4.filterNodes(function(node) {
          return new RegExp(match, "i").test(node.title);
        }, opts);
      } else {
        // Pass a string to perform case insensitive matching
        n = tree4.filterNodes(match, opts);
      }
      $("button#btnResetSearc").attr("disabled", true);
      $("span#matches").text("(" + n + " matches)");
    }).focus();

    $("button#btnResetSearc").click(function(e){
      $("input#search4[name=searchs]").val("");
      $("span#matches").text("");
      tree4.clearFilter();
    }).attr("disabled", true);

    $("fieldset input:checkbox").change(function(e){
      var id = $(this).attr("id"),
        flag = $(this).is(":checked");

      switch( id ) {
      case "autoExpand":
      case "regex":
      case "leavesOnly":
        // Re-apply filter only
        break;
      case "hideMode":
        tree4.options.filter.mode = flag ? "hide" : "dimm";
        break;
      case "counter":
      case "fuzzy":
      case "hideExpandedCounter":
      case "highlight":
        tree4.options.filter[id] = flag;
        break;
      }
      tree4.clearFilter();
      $("input#search4[name=searchs]").keyup();
    });

    $("#counter,#hideExpandedCounter,#highlight").prop("checked", true);

    addSampleButton({
      label: "Filter active branch",
      newline: false,
      code: function(){
        if( !tree4.getRootNode() ) {
          alert("Please activate a folder.");
          return;
        }
        tree4.filterBranches(function(node){
          return node.isActive();
        });
      }
    });
    addSampleButton({
      label: "Reset filter",
      newline: false,
      code: function(){
        tree4.clearFilter();
      }
    });



  });

</script>


