<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PANORAMA</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/panorama/bootstrap.min.css' %}"/>

  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/panorama/modern-business.css' %}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/panorama/logo3.png' %}"/>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="../">PANORAMA</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../methods">Methods</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../services">Deliverables</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Education</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="../edu/mfa">Material Flow Analysis</a>
              <a class="dropdown-item" href="../edu/ss">Summer School 2020</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../contact">Contact</a>
          </li>
        </ul>
                <ul class="navbar-nav navbar-right ml-auto">
          <li><a href="/">
            <span class="glyphicon glyphicon-home" aria-hidden="true" > Home</span></a>
        </li></ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">About
      <small>PANORAMA</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="../">Home</a>
      </li>
      <li class="breadcrumb-item active">About</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="{% static 'images/panorama/about.png' %}" alt="">
      </div>
      <div class="col-lg-6">
        <h2>Building a comprehensive Supply Chain Database</h2>
        <p>Despite many efforts in EU projects like MICA, PROSUM, Minerals4EU, DESIRE and others, the EU
          lacks a comprehensive, consistent and balanced supply chain and stock-flow materials database for
          many materials, let alone one compatible with economic statistics like input-output tables.
          Such a data system is essential for the type of long term strategic materials management and industry
          investment decisions that the EU wants to support.
          </p> <p>Current and future bottlenecks in the supply chain
          related to (critical) raw materials are currently not in the scope of existing tools and databases.
          For such activities the Raw Materials Information System (RMIS) of the EU’s DG JRC and the EIT RM have
          been set up. The EIT RM is in an excellent position to support DG JRC in expanding the coverage of the RMIS,
          which in turn can help the EIT RM and the wider community to prioritize improvement options including new
          KIC projects for materials management. It is also essential for governments, industries, financiers and
          recyclers to understand economic implications of materials supply and related risks.
          </p> <p>Our project combines
          the best data sources from different parts of the value chain collected in previous work, involves the most
          experienced players involved in such previous projects, and will use sophisticated gap filling and
          reconciliation approaches to build a comprehensive Supply Chain Database. It will comprises extensive
          data on material flows and stocks and that will be the basis for a web-based information service system
          business model. The project will closely collaborate and contribute to the most important EU and international
          initiatives in the field including RMIS. Continued operations after the project end can be ensured by
          generating financial income via a sales model, or to have the databases hosted via e.g. the EIT KIC RM
          Infocentre, DG JRCs RMIS, or the European Geological Survey’s European Geological Data Infrastructure (EGDI).</p>
      </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <h2>Our Team</h2>
    <div>

    <img class="img-fluid rounded mb-4" src="{% static 'images/panorama/team.jpeg' %}" alt="">
    </div>
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <!--<img class="card-img-top" src="http://placehold.it/750x450" alt=""> -->
          <div class="card-body">
            <h4 class="card-title">Prof.dr. A. Tukker </h4>
            <h6 class="card-subtitle mb-2 text-muted">Scientific director / professor of Industrial ecology</h6>
            <p class="card-text">Leiden University (CML)</p>
            <a href="https://www.universiteitleiden.nl/medewerkers/a.-tukker#tab-1">More info</a>
          </div>
          <div class="card-footer">
            <a>tukker@cml.leidenuniv.nl</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <!--<img class="card-img-top" src="http://placehold.it/750x450" alt="">-->
          <div class="card-body">
            <h4 class="card-title">Dr. José M. Mogollón</h4>
            <h6 class="card-subtitle mb-2 text-muted">Assistant professor</h6>
            <p class="card-text">Leiden University (CML)</p>
            <a href="https://www.universiteitleiden.nl/en/staffmembers/jose-mogollon#tab-1">More info</a>
          </div>
          <div class="card-footer">
            <a>j.m.mogollon@cml.leidenuniv.nl</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <!--<img class="card-img-top" src="http://placehold.it/750x450" alt="">-->
          <div class="card-body">
            <h4 class="card-title">Dr. B.R.P. Steubing </h4>
            <h6 class="card-subtitle mb-2 text-muted">Assistant professor</h6>
            <p class="card-text">Leiden University (CML)</p>
            <a href="https://www.universiteitleiden.nl/en/staffmembers/bernhard-steubing#tab-1">More info</a>
          </div>
          <div class="card-footer">
            <a>b.r.p.steubing@cml.leidenuniv.nl</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <!--<img class="card-img-top" src="http://placehold.it/750x450" alt="">-->
          <div class="card-body">
            <h4 class="card-title">Levon Amatuni </h4>
            <h6 class="card-subtitle mb-2 text-muted">PhD candidate</h6>
            <p class="card-text">Leiden University (CML)</p>
            <a href="https://www.universiteitleiden.nl/en/staffmembers/levon-amatuni#tab-1">More info</a>
          </div>
          <div class="card-footer">
            <a>l.t.amatuni@cml.leidenuniv.nl</a>
          </div>
        </div>
      </div>
            <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <!--<img class="card-img-top" src="http://placehold.it/750x450" alt="">-->
          <div class="card-body">
            <h4 class="card-title">Tales Yamamoto</h4>
            <h6 class="card-subtitle mb-2 text-muted">Promovendus</h6>
            <p class="card-text">Leiden University (CML)</p>
            <a href="https://www.universiteitleiden.nl/medewerkers/tales-yamamoto#tab-1">More info</a>
          </div>
          <div class="card-footer">
            <a> t.m.yamamoto@cml.leidenuniv.nl</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <!--<img class="card-img-top" src="http://placehold.it/750x450" alt="">-->
          <div class="card-body">
            <h4 class="card-title">Ir. Elmer Rietveld</h4>
            <h6 class="card-subtitle mb-2 text-muted">Advisor/Researcher</h6>
            <p class="card-text">TNO</p>
            <a href="https://www.tno.nl/nl/samenwerken/vind-een-tno-er/elmer-rietveld/cid26620/">More info</a>
          </div>
          <div class="card-footer">
            <a>elmer.rietveld@tno.nl</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <!--<img class="card-img-top" src="http://placehold.it/750x450" alt="">-->
          <div class="card-body">
            <h4 class="card-title">Dr. Ton Bastein</h4>
            <h6 class="card-subtitle mb-2 text-muted">Senior Scientist Circular Economy and Resource Efficiency</h6>
            <p class="card-text">TNO</p>
            <a href="https://www.tno.nl/nl/samenwerken/vind-een-tno-er/dr-ton-bastein/cid2909/">More info</a>
          </div>
          <div class="card-footer">
            <a>ton.bastein@tno.nl</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <!--<img class="card-img-top" src="http://placehold.it/750x450" alt="">-->
          <div class="card-body">
            <h4 class="card-title">Hettie Boonman</h4>
            <h6 class="card-subtitle mb-2 text-muted">Research Scientist</h6>
            <p class="card-text">TNO</p>
            <a href="https://www.tno.nl/nl/samenwerken/vind-een-tno-er/hettie-boonman-msc/cid29552/">More info</a>
          </div>
          <div class="card-footer">
            <a>hettie.boonman@tno.nl</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <!--<img class="card-img-top" src="http://placehold.it/750x450" alt="">-->
          <div class="card-body">
            <h4 class="card-title">Dr. Luis Tercero</h4>
            <h6 class="card-subtitle mb-2 text-muted">Coordinator of Business Unit Systemic Risks</h6>
            <p class="card-text">Fraunhofer Gesellshaft</p>
            <a href="https://www.isi.fraunhofer.de/en/competence-center/nachhaltigkeit-infrastruktursysteme/mitarbeiter/tercero-espinoza.html">More info</a>
          </div>
          <div class="card-footer">
            <a>luis.tercero@isi.fraunhofer.de</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <!--<img class="card-img-top" src="http://placehold.it/750x450" alt="">-->
          <div class="card-body">
            <h4 class="card-title">Matthias Pfaff M.A.</h4>
            <h6 class="card-subtitle mb-2 text-muted">Researcher</h6>
            <p class="card-text">Fraunhofer Gesellshaft</p>
            <a href="https://www.isi.fraunhofer.de/en/competence-center/nachhaltigkeit-infrastruktursysteme/mitarbeiter/pfaff.html">More info</a>
          </div>
          <div class="card-footer">
            <a>matthias.pfaff@isi.fraunhofer.de</a>
          </div>
        </div>
      </div>
            <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <!--<img class="card-img-top" src="http://placehold.it/750x450" alt="">-->
          <div class="card-body">
            <h4 class="card-title">Dr. Daniel Cassard</h4>
            <h6 class="card-subtitle mb-2 text-muted">Structural Geology, Scientific Program Coordinator</h6>
            <p class="card-text">BRGM</p>
          </div>
          <div class="card-footer">
            <a>d.cassard@brgm.fr</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <!--<img class="card-img-top" src="http://placehold.it/750x450" alt="">-->
          <div class="card-body">
            <h4 class="card-title">Antoine Boubalt</h4>
            <h6 class="card-subtitle mb-2 text-muted">Researcher</h6>
            <p class="card-text">BRGM</p>
          </div>
          <div class="card-footer">
            <a>a.boubault@brgm.fr</a>
          </div>
        </div>
      </div>
            <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
         <!-- <img class="card-img-top" src="http://placehold.it/750x450" alt="">-->
          <div class="card-body">
            <h4 class="card-title">Dr. Mikael Pedersen</h4>
            <h6 class="card-subtitle mb-2 text-muted">Head of Data and IT Department, State Geologist at GEUS</h6>
            <p class="card-text">GEUS</p>
            <a href="https://www.geus.dk/om-geus/nyheder/nyhedsarkiv/2017/jan/mikael-pedersen-er-ny-data-og-it-chef-ved-geus/">More info</a>
          </div>
          <div class="card-footer">
            <a>mp@geus.dk</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <!-- <img class="card-img-top" src="http://placehold.it/750x450" alt="">-->
          <div class="card-body">
            <h4 class="card-title">Frands Schjøth</h4>
            <h6 class="card-subtitle mb-2 text-muted">Computer Geoscientist & GIS Specialist</h6>
            <p class="card-text">GEUS</p>
          </div>
          <div class="card-footer">
            <a>fsc@geus.dk</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <!--<img class="card-img-top" src="http://placehold.it/750x450" alt="">-->
          <div class="card-body">
            <h4 class="card-title">Prof. dr. ir. Jo Dewulf</h4>
            <h6 class="card-subtitle mb-2 text-muted">Head of STEN research group</h6>
            <p class="card-text">Ghent University</p>
            <a href="https://biblio.ugent.be/person/801000894982">More info</a>
          </div>
          <div class="card-footer">
            <a>Jo.Dewulf@UGent.be</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <!--<img class="card-img-top" src="http://placehold.it/750x450" alt="">-->
          <div class="card-body">
            <h4 class="card-title">Hina Habib</h4>
            <h6 class="card-subtitle mb-2 text-muted">STEN research group</h6>
            <p class="card-text">Ghent University</p>
            <a href="https://telefoonboek.ugent.be/en/people/802003076047">More info</a>
          </div>
          <div class="card-footer">
            <a>hina.habib@ugent.be</a>
          </div>
        </div>
      </div>
            <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <!--<img class="card-img-top" src="http://placehold.it/750x450" alt="">-->
          <div class="card-body">
            <h4 class="card-title">Ligia da Silva Lima</h4>
            <h6 class="card-subtitle mb-2 text-muted">STEN research group</h6>
            <p class="card-text">Ghent University</p>
          </div>
          <div class="card-footer">
           <a>ligia.lima@ugent.be </a>
          </div>
        </div>
      </div>
            <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <!--<img class="card-img-top" src="http://placehold.it/750x450" alt="">-->
          <div class="card-body">
            <h4 class="card-title">Dr. ir. Wouter De Soete</h4>
            <h6 class="card-subtitle mb-2 text-muted">Business and research developer within the pharmaceutical and raw material industry</h6>
            <p class="card-text">Ghent University</p>
          </div>
          <div class="card-footer">
            <a>Wouter.DeSoete@UGent.be</a>
          </div>
        </div>
      </div>
            <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <!--<img class="card-img-top" src="http://placehold.it/750x450" alt="">-->
          <div class="card-body">
            <h4 class="card-title">Dr. Kees Baldé</h4>
            <h6 class="card-subtitle mb-2 text-muted">Senior Programme Officer at the Sustainable Cycles Program</h6>
            <p class="card-text">UNU</p>
          </div>
          <div class="card-footer">
            <a>balde@unu.edu</a>
          </div>
        </div>
      </div>
            <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <!--<img class="card-img-top" src="http://placehold.it/750x450" alt="">-->
          <div class="card-body">
            <h4 class="card-title">Prof. Guido Sonnemann</h4>
            <h6 class="card-subtitle mb-2 text-muted">Head of The Life Cycle Group CyVi</h6>
            <p class="card-text">University of Bordeaux</p>
            <a href="https://univ-bordeaux.academia.edu/GuidoSonnemann">More info</a>
          </div>
          <div class="card-footer">
            <a>guido.sonnemann@u-bordeaux.fr</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->


    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; PANORAMA 2019-2020</p>
            <p class="m-0 text-center text-white"><a href="https://twitter.com/PanoramaProj?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @PanoramaProj</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>

    </div>
     <div class="container">
       <p class="m-0 text-center text-white"> Art credits:
    <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system,
    BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto,
&quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;
border-radius:3px" href="https://unsplash.com/@dnevozhai?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;
utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want
high-resolution photos from Denys Nevozhai"><span style="display:inline-block;padding:2px 3px">
      <svg xmlns="http://www.w3.org/2000/svg"
           style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white"
           viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z">

      </path></svg></span><span style="display:inline-block;padding:2px 3px">Denys Nevozhai</span></a>
     </p></div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{% static 'js/panorama/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/panorama/bootstrap.min.js' %}"></script>


</body>

</html>
