<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PANORAMA</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/panorama/bootstrap.min.css' %}"/>

  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/panorama/modern-business.css' %}"/>

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/panorama/logo3.png' %}"/>


</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/panorama">PANORAMA</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="../about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../methods">Methods</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../services">Deliverables</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Education</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="../edu/mfa">Material Flow Analysis</a>
              <a class="dropdown-item" href="../edu/ss">Summer School 2020</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right ml-auto">
          <li><a href="/">
            <span class="glyphicon glyphicon-home" aria-hidden="true" > Home</span></a>
        </li></ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Contact
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="../">Home</a>
      </li>
      <li class="breadcrumb-item active">Contact</li>
    </ol>

    <!-- Content Row -->
    <div class="row">
      <!-- Map Column -->
      <div class="col-lg-8 mb-4">
        <!-- Embedded Google Map -->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2447.313568994101!2d4.462150751699423!3d52.16499207964922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5c6f1f06ee581%3A0xdb3364532167da46!2sLeiden+University+Faculty+of+Archeology!5e0!3m2!1sen!2snl!4v1563183896691!5m2!1sen!2snl" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>      </div>
      <!-- Contact Details Column -->
      <div class="col-lg-4 mb-4">
        <h3>Contact Details</h3>
        <p>
          Van Steenisgebouw
          <br>Einsteinweg 2 , 2333 CC Leiden
          <br>
        </p>
        <p>
          <abbr title="Phone">P</abbr>: +31 (0)71 527 7461 / 5615
        </p>
        <p>
          <abbr title="Email">E</abbr>:
          <a href="mailto:secretariaat@cml.leidenuniv.nl">secretariaat@cml.leidenuniv.nl
          </a>
        </p>
        <p>
          <a href="https://twitter.com/PanoramaProj?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @PanoramaProj</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </p>

      </div>
    </div>
            <br><br><br><br><br><br>

    <!-- /.row -->

    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->

    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">

      <p class="m-0 text-center text-white">Copyright &copy; PANORAMA 2019-2020</p>
      <p class="m-0 text-center text-white"><a href="https://twitter.com/PanoramaProj?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @PanoramaProj</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>

    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{% static 'js/panorama/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/panorama/bootstrap.min.js' %}"></script>


  <!-- Contact form JavaScript -->
  <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file.
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>
  -->
</body>

</html>
