<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PANORAMA</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/panorama/bootstrap.min.css' %}"/>

  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/panorama/modern-business.css' %}"/>

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/panorama/logo3.png' %}"/>


</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/panorama">PANORAMA</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="../about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../methods">Methods</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Deliverables</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Education</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="../edu/mfa">Material Flow Analysis</a>
              <a class="dropdown-item" href="../edu/ss">Summer School 2020</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../contact">Contact</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right ml-auto">
          <li><a href="/">
            <span class="glyphicon glyphicon-home" aria-hidden="true" > Home</span></a>
        </li></ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Deliverables
      <small></small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="../">Home</a>
      </li>
      <li class="breadcrumb-item active">Deliverables</li>
    </ol>

    <!-- Image Header -->
    <img class="img-fluid rounded mb-4" src="{% static 'images/panorama/pan.png' %}" alt="">

    <div class="row">
            <div class="col-lg-6">
        <h4>Why PANORAMA?</h4>
              <p>Many datasets originate from single projects and not from continuously updated and maintained data sources. For example geosurveys on material extraction, H2020 projects on specific materials, etc. Such separate data sets are not consistently linked over the life cycle. Our ambition in this projects is to make crucial advances in showing how such data sets can be harmonized, leading to a physical-economic database.
              This harmonized database system can be approached from a material, component, product and waste classification perspective, covering the full economy and national plus international trade.
              </p></div>
              <div class="col-lg-6">
               <h4>Deliverables</h4>
              <p>
                Our project aims to realise a prototype in an operational environment. The steps within PANORAMA consists of combining, gap filling and balancing existing data sets. Therefore using and building on database infrastructures that have been developed in the context of projects such as EXIOBASE and PROSUM. We foresee having developed an operational database discerning industry sectors, product flows and stocks, discerning at least 10 materials by product most relevant to other KIC RM projects and societally relevant innovations such as the energy transition and e-mobility, and a web-based information service. The data set should also be capable of trend analyses, providing forecasted data on material (such as CRM) usage for critical technologies for the EU (such as electric vehicles, energy transition technologies and so forth) and their consequence for the future urban mine.
              </p>


            </div>



    </div>

    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; PANORAMA 2019-2020</p>
        <p class="m-0 text-center text-white"><a href="https://twitter.com/PanoramaProj?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @PanoramaProj</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
           <div class="container">
       <p class="m-0 text-center text-white"> Art credits:
<a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@lefty_kasdaglis?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Lefty Kasdaglis"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Lefty Kasdaglis</span></a>
       </p></div>

           </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{% static 'js/panorama/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/panorama/bootstrap.min.js' %}"></script>


</body>

</html>
