<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PANORAMA</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/panorama/bootstrap.min.css' %}"/>

  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/panorama/modern-business.css' %}"/>

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/panorama/logo3.png' %}"/>


</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="../../">PANORAMA</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="../../about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../../methods">Methods</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../../services">Deliverables</a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Education</a>
            <div class="dropdown-menu">
              <a class="dropdown-item " href="../mfa">Material Flow Analysis</a>
              <a class="dropdown-item active" href="#">Summer School 2020</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../../contact">Contact</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right ml-auto">
          <li><a href="../../../">
            <span class="glyphicon glyphicon-home" aria-hidden="true" > Home</span></a>
        </li></ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Education
      <small></small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="../../">Home</a>
      </li>
      <li class="breadcrumb-item active">Education / Summer School 2020</li>
    </ol>

    <!-- Image Header -->


    <div class="row">
            <div class="col-lg-6">
        <h4 style="color:#007bff;">Assessment of Materials Stocks and Flows</h4>

              <p>
                1-3 July 2020
                <br>

                University of Bordeaux
<br>
                Free of charge
              </p>

                <p>
                    Download  <a
                                   href="../../../static/panorama_education/summer_school_light.pdf">here
                                </a>
                    the information about the summer school.
                </p>

                <p>
                    Please fill out the  <a
                                   href="https://forms.gle/CNw56iZXyPckboqE6">form
                                </a>  to apply for the course.
                </p><br><p>
                   <b> Important dates</b> <br> - Application submission deadline: 1 May 2020 <br>
                    - Acceptance notifications: 15 May 2020
                </p>
            </div>
              <div class="col-lg-6">
       <img class="img-fluid rounded mb-4" src="{% static 'images/panorama/summerschool.png' %}" alt="">

            </div>



    </div>
    <br><br><br><br><br><br><br>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; PANORAMA 2019-2020</p>
        <p class="m-0 text-center text-white"><a href="https://twitter.com/PanoramaProj?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @PanoramaProj</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
           <div class="container">
  </div>

           </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{% static 'js/panorama/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/panorama/bootstrap.min.js' %}"></script>


</body>

</html>
