{% extends 'MicroVis/base_pres.html' %}
{% load static %}

  {% block speciality %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/alchemyjs/0.4.2/scripts/vendor.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/alchemyjs/0.4.2/alchemy.min.js"></script>
     <link rel="stylesheet" type="text/css" href="{% static 'css/style_pres.css' %}"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/alchemyjs/0.4.2/alchemy.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.min.js"></script>

<style>
  //button styling

  #button {
    padding: .5em 1em;
    text-decoration: none;
    color: #f9f9f9;
    background-color: #0d0f59;
  }

  #button:hover {
    background-color: #52a552 !important;
  }


</style>
    {% endblock %}



{% block content %}


<div class="container bg-overlay6">
<br>

<div class="container-fluid">
  <center> <h3 >CML Software & Data <span class="badge">3</span></h3></center><br>
  <p><a class="btn btn-primary btn-sm" href="../sandd2" role="button" >Previous</a> <a class="btn btn-primary btn-sm" href="../sandd4" role="button" >Next</a></p>
            <hr>

</div>

<div class="panel panel-default" style="background-color: rgba(255, 255, 255, .9); color:black; min-height: 700px;">
    <div class="panel-heading" style="background-color: rgba(255, 255, 255, .9); color:#0d0f59">    <center>
<h1>Challenges II - Continuity of infrastructure</h1>
        </center></div>
  <div class="panel-body">
      <div class="container">
          <!--
      <h3>

        <li>  </li><li>
          Different needs and requirements on each case</li><li>Endless amount of solutions</li><li>...</li>
         <br>
</h3>
-->
<center>
    <h3><b>Projects come and go just as the resources and capacity for development and maintenance</b></h3>

  <div id="alchemy" class="alchemy" style="height:500px;"></div>

</center>



      </div>
  </div>

</div>






</div>

<!--footer start from here-->
<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-2 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">RESOURCES</h6>
                <ul class="footer-ul">

                    <li><a>Sidney Niccolson | Institute of Environmental Sciences (CML)</a></li>
                    <li><a>16th of October, 2019</a></li>
                    <li><a>s.i.niccolson@cml.leidenuniv.nl</a></li>

                </ul>
            </div>
            <div class="col-md-3 col-sm-6 paddingtop-bottom">
                <blockquote cite="https://github.com/CMLPlatform/DjangoPlatform"><a href="https://github.com/CMLPlatform/">GitHub</a></blockquote>
            </div>

        </div>
    </div>
</footer>

  <script type="text/javascript">

      var config = {
            dataSource: "https://api.myjson.com/bins/1ahqof",
            directedEdges: true,
            nodeTypes: { "role":
                ["http_server", "postgres", "neo4j", "load_balancer"]
            },
            zoomControls: false,
            forceLocked: false,
            nodeStyle: {
                "all": {
                    "borderColor": "#127DC1",
                    "borderWidth": function(d, radius) {
                        return radius / 4
                    },
                    "color": function(d) {
                        return "rgba(104, 185, 254, " +
                        (d.getProperties().memoryUsage / 100) + " )"
                    },
                    "radius": function(d) {
                        if(d.getProperties().root)
                        return 15; else return 10
                    },
                },
                "http_server":{
                    "color": "#000067",
                    "selected": {
                        "color": "#ffffff",
                    },
                    "highlighted": {
                        "color": "#b4dcff"
                    }
                }
            },
            edgeStyle: {
                "all": {
                    "width": function(d) {
                     return (d.getProperties().load + 0.5) * 1.3
                    }
                }
            }
        };

    var alchemy = new Alchemy(config)



</script>
   {% endblock %}
