{% extends 'MicroVis/base_pres.html' %}
{% load static %}

  {% block speciality %}

     <link rel="stylesheet" type="text/css" href="{% static 'css/style_pres.css' %}"/>


<style>
  //button styling

  #button {
    padding: .5em 1em;
    text-decoration: none;
    color: #f9f9f9;
    background-color: #0d0f59;
  }

  #button:hover {
    background-color: #52a552 !important;
  }


</style>
    {% endblock %}



{% block content %}


<div class="container bg-overlay6">
<br>

<div class="container-fluid">
  <center> <h3 >CML Software & Data <span class="badge">4</span></h3></center><br>
  <p><a class="btn btn-primary btn-sm" href="../sandd3" role="button" >Previous</a> <a class="btn btn-primary btn-sm" href="../sandd5" role="button" >Next</a></p>
            <hr>

</div>

<div class="panel panel-default" style="background-color: rgba(255, 255, 255, .9); color:black; min-height: 700px;">
    <div class="panel-heading" style="background-color: rgba(255, 255, 255, .9); color:#0d0f59">    <center>
<h1>Challenge III - Existing services</h1>
        </center></div>
  <div class="panel-body">
      <div class="container">
          <!--
      <h3>

        <li>  </li><li>
          Different needs and requirements on each case</li><li>Endless amount of solutions</li><li>...</li>
         <br>
</h3>
-->
          <br>
<center>
 <img src="{% static 'microvis/slide3.svg' %}" alt="img" height="400" width="1235">
</center>
      </div>
  </div>

</div>






</div>

<!--footer start from here-->
<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-2 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">RESOURCES</h6>
                <ul class="footer-ul">

                    <li><a>Sidney Niccolson | Institute of Environmental Sciences (CML)</a></li>
                    <li><a>16th of October, 2019</a></li>
                    <li><a>s.i.niccolson@cml.leidenuniv.nl</a></li>

                </ul>
            </div>

            <div class="col-md-3 col-sm-6 paddingtop-bottom">
                <blockquote cite="https://github.com/CMLPlatform/DjangoPlatform"><a href="https://github.com/CMLPlatform/">GitHub</a></blockquote>
            </div>

        </div>
    </div>
</footer>

   {% endblock %}
