<!DOCTYPE html> {% extends 'CMLMasterProject/baseHome.html' %} {% load static %} {% block title %}About{% endblock %} {% block navibar %}
<!-- Collect the nav links, forms, and other content for toggling -->
<ul class="nav navbar-nav">
    <li><a href="../">Home</a></li>

    <li><a href="../exploratory">Explore</a></li>
    <li><a href="../research/microvis">MicroVis</a></li>

    <li class="dropdown active">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="https://cmlworld.slack.com/">Slack</a></li>
            <li><a href="https://github.com/CMLPlatform/">GitHub</a></li>
            <li><a href="./">Contact</a></li>
        </ul>
    </li>

</ul>

{% endblock %} {% block speciality %} {% endblock %} {% block content %}

<div class="container bg-overlay5">
    <div class="container-fluid">
        <h3 style="color:#428bca;">What is CORE? </h3> The CML platform was developed for scientific communication purposes and the development of several web-based ICT tools (apps). It is developed in such a way that these tools are modular while serving their own content. This helps in software development, as the platform provides simple features to integrate complete web-apps. Apps can be stored under their own domain and cloud, once an app is "production ready". CORE is developed with the Django web framework.
        <br> In relation to scientific communication purposes we showcase project developments and an app called "MicroVis" which are sets of interactive visualisations in order to communicate scientific results.
    </div>
    <hr>
    <div class="container-fluid">
        <h3>Team communication & Support </h3> All support is done through our Slack channel,
        <a href="https://cmlworld.slack.com">Click here</a>. This is also used as a means of communication for CML developers.
    </div>

    <div class="container-fluid ">
        <h3>Software repository </h3> Some software libraries and complete applications are shared on our GitHub, <a href="https://github.com/CMLPlatform/">Click here</a>
    </div>
    <div class="container-fluid ">
        <h3>Software Developers </h3> 1) Sidney Niccolson, s.i.niccolson@cml.leidenuniv.nl </div>
</div>
{% endblock %} {% block footer %}
<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-2 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">RESOURCES</h6>
                <ul class="footer-ul">

                    <li><a href="/exploratory"> Explore</a></li>
                    <li><a href="research/microvis/">MicroVis</a></li>
                    <li><a href="http://cml.liacs.nl/dokuwiki/doku.php"> Wiki</a></li>
                    <li><a href="about"> Contact</a></li>

                </ul>
            </div>
            <!--
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">LATEST POST</h6>
        <div class="post">
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
        </div>
      </div>
      -->
            <div class="col-md-3 col-sm-6 paddingtop-bottom">
                <blockquote cite="https://github.com/CMLPlatform/DjangoPlatform"><a href="https://github.com/CMLPlatform/">GitHub</a></blockquote>
                <blockquote cite="https://cmlworld.slack.com/"><a href="https://cmlworld.slack.com/">Slack</a></blockquote>

            </div>

        </div>
    </div>
</footer>

<!--footer start from here-->

<div class="copyright">
    <div class="container">
        <center>
            <i>The clients and developers of the CML platform (CORE) are not responsible for any incorrect or incomplete data (about measurements, standards, visualizations etc.) or information on this website.© 2019 - All Rights with CML </i> </center>

    </div>
</div>

{% endblock %}