{% extends 'CMLMasterProject/baseHome.html' %}
{% block title %}Sign-up for CML members{% endblock %}
{% block content %}


<br>
<div class="container-fluid">
<br>
  <div class="container-fluid" style="background-color: #f8f8f8; max-width:50%">
      <br>
      <legend>CML member sign-up</legend>
<form class="form-horizontal" method="post">{% csrf_token %}
    <fieldset>

<br>
        {% if status %}
        <div class="alert alert-danger" role="alert">{{status}}</div>
        {%endif%}
        {% for field in form %}
            {% if field.errors %}
                <div class="control-group error">
                    <label class="control-label">{{ field.label }}</label>
                    <div class="controls">{{ field }}
                        <span class="help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="control-group">
                    <label class="control-label">{{ field.label }}</label>
                    <div class="controls">{{ field }}
                        {% if field.help_text %}
                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </fieldset>
    <center>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-md"  >Sign up</button>
    </div>
        </center>
    <br>
</form>
</div>
</div>


{% endblock %}