<!doctype html> {% extends 'CMLMasterProject/baseHome.html' %} {% load static %} {% block title %}Home{% endblock %} {% block navibar %}
<!-- Collect the nav links, forms, and other content for toggling -->
<ul class="nav navbar-nav">
    <li class="active"><a href="./">Home</a></li>
    <li><a href="exploratory">Explore</a></li>
    <li><a href="research/microvis">MicroVis</a></li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="https://cmlworld.slack.com/">Slack</a></li>
            <li><a href="https://github.com/CMLPlatform/">GitHub</a></li>
            <li><a href="about">Contact</a></li>
        </ul>
    </li>

</ul>

{% endblock %} {% block content %}
<!--
        <div class="alert alert-success" role="alert">{{status}}</div>
 -->

<div class="container bg-overlay">
    {% if messages %}
<div class="container-fluid">
    <ul class="messages">
        {% for message in messages %}
        <a {% if message.tags %} class="{{ message.tags }}" {% endif %}>
            <div class="alert alert-success" role="alert">{{message}}</div>
        </a>
        {% endfor %}
    </ul>
</div>
{% endif %}
    <div class="row ">

        <h1>CORE</h1>
        <br>
        <h4>A CML web-app staging & showcase collection</h4>
        <br>
        <br>

        <div class="col-sm-4">
            <h3><b><span class="glyphicon glyphicon-search" aria-hidden="true" style="color:#428bca;">  Explore</span></b></h3> Explore various Industrial Ecology datasets such as EXIOBASE
            <br>
            <br>
            <a href="exploratory" type="button" class="btn btn-success btn-lg">Get Started </a> </div>

        <div class="col-sm-4">
            <h3><b><span class="glyphicon glyphicon-blackboard" aria-hidden="true" style="color:#428bca;">  MicroVis</span></b></h3>Interactive visuals related to project results
            <br>
            <br>
            <a href="research/microvis" type="button" class="btn btn-success btn-lg">Learn More </a> </div>

    </div>
</div>

{% endblock %} {% block footer %}
<!--
<div class="footer" style="background-color:#3e3e3e;">
<!--footer start from here-->
<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-2 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">RESOURCES</h6>
                <ul class="footer-ul">

                    <li><a href="/exploratory"> Explore</a></li>
                    <li><a href="research/microvis/">MicroVis</a></li>
                    <li><a href="http://cml.liacs.nl/dokuwiki/doku.php"> Wiki</a></li>
                    <li><a href="about"> Contact</a></li>

                </ul>
            </div>
            <!--
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">LATEST POST</h6>
        <div class="post">
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
        </div>
      </div>
      -->
            <div class="col-md-3 col-sm-6 paddingtop-bottom">
                <blockquote cite="https://github.com/CMLPlatform/DjangoPlatform"><a href="https://github.com/CMLPlatform/">GitHub</a></blockquote>
                <blockquote cite="https://cmlworld.slack.com/"><a href="https://cmlworld.slack.com/">Slack</a></blockquote>

            </div>

        </div>
    </div>
</footer>

<!--footer start from here-->

<div class="copyright">
    <div class="container">
        <center>
            <i>The clients and developers of the CML platform (CORE) are not responsible for any incorrect or incomplete data (about measurements, standards, visualizations etc.) or information on this website.© 2019 - All Rights with CML </i> </center>

    </div>
</div>

{% endblock %}