<!DOCTYPE html>
{% extends 'CMLMasterProject/baseHome.html' %}
{% load static %}

{% block title %}Exploratory Tools{% endblock %}
{% block navibar %}
<!-- Collect the nav links, forms, and other content for toggling -->
            <ul class="nav navbar-nav">
                <li ><a href="../">Home</a></li>


                <li><a href="./">RaMa-Scene</a></li>
                <li class="active"><a href="./">Exploratory tools</a></li>
                <li><a href="../research">Research</a></li>
<li><a href="http://cml.liacs.nl/dokuwiki/doku.php">CML Wiki</a></li>
                <li><a href="./">About</a></li>
                <li><a href="./">Contact</a></li>
            </ul>


{% endblock %}

{% block content %}

<div class="container-fluid">

     <div class="row">

     <div class="col-sm-8"><h3><b>Visual Projects</b></h3> "Within CML there are several initiatives that require certain
         sets of interactive visualisations. A set of dedicated pages and/or tools are developed per research project below."</div>

     </div>

</div>
    <br>
<div class="container-fluid">
<div class="list-group">

  <a href="../exiovisuals" class="list-group-item ">
<hr style="height:7px;border:none;color:#428bca;background-color:#428bca;width:100%;" />



   <h3 ALIGN=center>ExioVisuals</h3>
            <p ALIGN=center>ExioVisuals is an effort to visualize complex Input-Output Analysis results from the Exio database.</p>

  </a>
</div>

    <div class="list-group">

  <a href="../puma" class="list-group-item ">
<hr style="height:7px;border:none;color:#428bca;background-color:#428bca;width:100%;" />



        <h3 ALIGN=center>The PUMA project</h3>
        <p ALIGN=center>The PUMA project aims to quantify metals in Amsterdam and visualize them through an interactive map.</p>

  </a>
</div>

</div>
<hr>
{% endblock %}

{% block footer %}

{% endblock %}